@mixin rotated($radius) {
    transform: rotate($radius);
}

@mixin flex-column {
    display: flex;
    flex-direction: column;
}

@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin flex-center-column {
    @include flex-center;
    flex-direction: column;
}

@mixin flex-center-vert {
    display: flex;
    align-items: center;
}

@mixin flex-center-horiz {
    display: flex;
    justify-content: center;
}

@mixin offset-shadow($color, $size) {
    box-shadow: $size $size 0 $color;
}

@mixin tablet {
    @media screen and (min-width: 768px) {
        @content;
    }
}